body{
  padding: 20px;
}

button{
  margin-right: 10px;
}

.poke-card{
  display: flex;
  position: relative;
  top: 155px;
  left: 165px;
  width: 180px;
  height: 140px;
  margin-right: 200px;
  background-color: black;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;

}

.poke-image{
  position: relative;
  left: 10px;
  width: 240px;
  height: 240px;
}

.pokedex{
  position: absolute;
}